.popup {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 3;
}