@media screen and (max-width: 767px){
    .header__burger_active::before{
        margin-top: 7px;
        top: 7%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: rgb(255, 255, 255);
    }

    .header__burger_active::after{
        margin-top: 7px;
        bottom: 7%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: rgb(255, 255, 255);
    }
    
}
