.header {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 57px 68px 38px 68px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    gap: 48px;
    z-index: 2;
}

@media screen and (max-width: 767px){
    .header {
        padding: 50px 38px 34px 38px;
    }
}

@media screen and (max-width: 480px){
    .header {
        padding: 40px 18px 30px 18px;
    }
}