.quotes {
    width: 90%;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

@media screen and (max-width: 911px){
    .quotes {
        align-content: flex-start;
    }
}