.place {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.place:nth-child(2n){
    flex-direction: row-reverse;
}

@media screen and (max-width: 480px){
    .place {
        flex-direction: column;
    }

    .place:nth-child(2n){
        flex-direction: column;
    }
} 