
.button {
    border-radius: 10px;
    padding: 14px 28px;
    border: 1px solid black;
    font-size: 17px;
    line-height: 22px;
    color: black;
    transition: .6s;
    cursor: pointer;
    margin: 10px auto;
}

@media screen and (max-width: 446px) {
    .button{
        font-size: 16px;
        line-height: 20px;
        padding: 12px 22px;
    }
}

@media screen and (max-width: 380px) {
    .button{
        font-size: 14px;
        line-height: 19px;
        padding: 8px 14px;
    }
}

.button:hover {
    border-radius: 14px;
    scale: 1.1;
}